!.env.example
!.env.sample
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.local
*.log
*.tsbuildinfo
.DS_Store
.cache/
.env
.env.*
.idea/
.nyc_output/
.output/
.pnp.cjs
.pnp/
.pnpm-debug.log*
.pnpm-store/
.vite/
.vscode/*
Thumbs.db
apps/*/dist/
apps/*/src-tauri/binaries/
apps/*/src-tauri/gen/
apps/*/src-tauri/target/
build/
coverage/
desktop.ini
dist/
logs/
node_modules/
npm-debug.log*
out/
packages/*/dist/
src-tauri/**/*.rs.bk
src-tauri/*.log
src-tauri/target/
target/
yarn-debug.log*
yarn-error.log*
